#accrochage{
    .liste{
        >div:hover{
            transition: all 0.3s;
            background: var(--green200);
            i{
                transition: all 0.3s;
                background: var(--emerald300);
            }
        }
    }
}
/* #accrochage {
  background: #ccff00;
  background: linear-gradient(
    0deg,
    rgba(204, 255, 0, 0) 0%,
    rgba(204, 255, 0, 1) 93%
  );
} */