@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
  user-select: none;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(#e1fede, #00ff3c29);
  /* background-color: #e0ffdd; */
  cursor: default;
  box-sizing: border-box;
}
section {
  padding-inline: 0%;
  padding-top: 5%;
}

h1 {
  text-align: center !important;
}
h2 {
  color: #064e3b;
}
p {
  color: #064e3b;
}
.texte-vert {
  color: #e1fede !important;
}
.scroll-animate {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}
li {
  cursor: pointer;
}
.logo {
  width: 100px;
  height: 100px;
  background-image: url("/img/logoNoir.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
}

.glassed {
  background: rgba(255, 255, 255, 0.57);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.38);
}
.fondtkt {
  border-radius: 45px;
  background: #e0e0e0;
  box-shadow: 20px 20px 68px #bebebe, -20px -20px 68px #ffffff;
}

@media (min-width: 769px) and (max-width: 1024px) {
  #logo {
    font-size: 7em !important;
    color: rgb(179, 255, 0) !important;
  }
}
@media (max-width: 769px) {
  #logo {
    font-size: 401% !important;
    transform: translateY(35%) !important;
  }
}
@media (max-width: 371px) {
  #logo {
    font-size: 301% !important;
    transform: translateY(21%) !important;
  }
}
@media (max-width: 251px) {
  #logo {
    font-size: 201% !important;
    transform: translateY(-20%) !important;
    color: rgb(165, 16, 16) !important;
  }
}
