#artOratoire{
    /* background-image: url("../../../../public/img/fonPricing.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  /* background:  #CCFF00;
background: linear-gradient(0deg,rgba(204, 255, 0, 1) 0%, rgba(204, 255, 0, 0) 93%);
   */
    .liste{
        >div:hover{
            transition: all 0.3s;
            background: var(--green200);
            i{
                transition: all 0.3s;
                background: var(--emerald300);
            }
        }
    }
}